{% extends "base.html" %}
{% block content %}
<div class="card">
    <a href="{{ url_for('logout') }}" class="btn btn-logout">Logout</a>
    <h2>Welcome, {{ current_user.username }}!</h2>
    <p style="text-align:center">Select a subject to start the quiz:</p>
    
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <a href="{{ url_for('quiz', subject='aiml') }}" class="btn">🤖 AI / ML</a>
        <a href="{{ url_for('quiz', subject='arch') }}" class="btn">💻 Comp. Architecture</a>
        <a href="{{ url_for('quiz', subject='python') }}" class="btn">🐍 Python</a>
        <a href="{{ url_for('quiz', subject='networks') }}" class="btn">🌐 Networks</a>
        <a href="{{ url_for('quiz', subject='dbms') }}" class="btn">🗄️ DBMS</a>
    </div>
</div>
{% endblock %}