{% extends "base.html" %}
{% block content %}
<div class="card" style="max-width: 400px; margin: 0 auto;">
    <h1>Sign Up</h1>
    <form method="POST">
        <input type="text" name="username" placeholder="Choose Username" required>
        <input type="password" name="password" placeholder="Choose Password" required>
        <button class="btn" style="width:100%">Sign Up</button>
    </form>
    <p style="text-align:center">Already user? <a href="{{ url_for('login') }}" style="color:white">Login</a></p>
</div>
{% endblock %}